body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    overflow: hidden;
    display:flex;
    flex-direction: column;
}

.layout{
    height:95%;
}

.footer{
    align-self:center;
}

.game-container{
    display: flex;
}
